{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "number-leading-zero": null,
        "property-no-unknown": [true, {
            "ignoreProperties": [
                "composes"
            ]
        }],
        "unit-whitelist": ["em", "px", "s"]
    }
}
